<section class="container" ng-controller="noteCtrl">
  <div class="row">
    <div class="col-md-8 col-md-offset-0 col-lg-8 col-lg-offset-0">
      <div class="video-container">
        <youtube-video player="yt.player" player-vars="yt.vars" video-URL="yt.video"></youtube-video>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
      <form>
        <button type="submit" class="border-button" ng-click="yt.addNote()">Botn!</button>
      </form>
      <ul>
        <li ng-repeat="time in times track by $index">{{time}}</li>
      </ul>
    </div>
  </div>

  <!--
  <div class="row">
    <h2>Notes:</h2>

    <div data-ng-controller="getNote">
      <table class="notes-table">
        <tr>
          <td>
            <div data-ng-controller="saveNote">
              <textarea rows="2" data-ng-focus="getStartTime()" data-ng-keydown="getStartTime($event)" data-ng-trim=false data-ng-model="block"></textarea>
              <button data-ng-click="saveNote()">Add random note</button>
            </div>
          </td>
        </tr>
        <tr class="animate-repeat" data-ng-repeat="block in note | orderBy:'-startTime'">
          <td>
            <hr>

            <table>
              <tr>
                <td editable-text="block.startTime" class="notes-td top">
                  {{block.startTime}}
                </td>
                <td rowspan="2" class="top block-td">
                  <pre ekkk-rows="3" width="auto" editable-textarea="block.text">{{block.text}}</pre>
                </td>
              </tr>
              <tr>
                <td editable-text="block.endTime" class="notes-td bottom">
                  {{block.endTime}}
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </div>
  </div>
-->
</section>